<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="${sys:LOG4J_LEVEL}" monitorInterval="30">
    <Properties>
        <Property name="LOG_PATTERN">
            %d{yyyy-MM-dd HH:mm:ss.SSS} %5p %m | ${hostName} | %c | %t %n 
        </Property>
		<Property name="LOG_PATTERN_CONCISE">
			%m (%p)%n
		</Property>        
    </Properties>
    <Appenders>
		<RollingFile name="RollingAppender" fileName="${sys:LOG4J_PATH}/log4j.log" append="true" filePattern="${sys:LOG4J_PATH}/log4j_%d{MM-dd-yyyy}.log.gz">
			<PatternLayout pattern="${LOG_PATTERN}" />
			<Policies>
				<TimeBasedTriggeringPolicy />
				<SizeBasedTriggeringPolicy size="10 MB" />
			</Policies>
			<DefaultRolloverStrategy max="20" />
		</RollingFile>
		<RollingFile name="RollingAppenderConcise" fileName="${sys:LOG4J_PATH}/log4j_concise.log" append="true"
			filePattern="${sys:LOG4J_PATH}/log4j_concise_%d{MM-dd-yyyy}.log.gz">
			<PatternLayout pattern="${LOG_PATTERN_CONCISE}" />
			<Policies>
				<TimeBasedTriggeringPolicy />
				<SizeBasedTriggeringPolicy size="10 MB" />
			</Policies>
			<DefaultRolloverStrategy max="20" />
		</RollingFile>    
        <Console name="ConsoleAppender" target="SYSTEM_OUT" follow="true">
            <PatternLayout pattern="${LOG_PATTERN}"/>
			<filters>
				<ThresholdFilter level="info" onMatch="ACCEPT" onMismatch="DENY"/>
			</filters>            
        </Console>
    </Appenders>
    <Loggers>
		<Logger name="logger-concise" level="debug" additivity="false">
			<AppenderRef ref="RollingAppenderConcise" />
		</Logger>
		<Logger name="com.eldho.labcorp" level="debug" additivity="false">
			<AppenderRef ref="ConsoleAppender" />
			<AppenderRef ref="RollingAppender" />
		</Logger>
		<Logger name="org.springframework" level="info" additivity="false">
			<AppenderRef ref="ConsoleAppender" />
			<AppenderRef ref="RollingAppender" />
		</Logger>
		<Logger name="org.springframework.session.data" level="trace" additivity="false">
			<AppenderRef ref="ConsoleAppender" />
			<AppenderRef ref="RollingAppender" />
		</Logger>
		<Logger name="org.springframework.web" level="trace" additivity="false">
			<AppenderRef ref="ConsoleAppender" />
			<AppenderRef ref="RollingAppender" />
		</Logger>
		<Logger name="org.apache.catalina" level="trace" additivity="false">
			<AppenderRef ref="ConsoleAppender" />
			<AppenderRef ref="RollingAppender" />
		</Logger>

		<Root level="info">
			<AppenderRef ref="ConsoleAppender" />
			<AppenderRef ref="RollingAppender" />
		</Root>
    </Loggers>
</Configuration>